*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}
:root{
    --body-color:#efefef;
    --nav-color:#1876f2;
    --bg-color:#fff;
}
.dark-theme{
    --body-color:#0a0a0a;
    --nav-color:#000;
    --bg-color:#000; 
}


body{
    background: var(--body-color);
    transition:  background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.navleft, .navright{
    display: flex;
    align-items: center;
}
.navleft ul li{
    list-style-type: none;
    display: inline-block;
}
.navleft ul li img{
    width: 28px;
    margin: 0 15px;
}
.navusericon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.navusericon{
    margin-left: 30px;
}
.searchbox{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.searchbox img{
    width: 18px;
}
.searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content:'';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.leftsidebar{
   
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;

}
.rightsidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
border-radius: 4px;
color: #626262;
}
.maincontent{
    flex-basis: 47%;
}
.implinks a, .shortcutlinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.implinks a img{
    width: 25px;
    margin-right: 15px;
}
.implinks a:last-child{
    color:blueviolet;
}
.implinks{
    border-bottom: 1px solid #ccc;
}
.shortcutlinks a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcutlinks p{
    margin: 25px 0;
    color:#626262;
    font-weight: 500;
}
.sidebartitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.rightsidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebartitle a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.leftevent{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.leftevent span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: white;
    font-size: 10px;
    padding: 4px 0;
}
.sidebarads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.onlinelist{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.onlinelist  .online img{
    width: 40px;
    border-radius: 50%;

}
.onlinelist .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.onlinelist .online::after{
    top: unset;
    bottom: 5px;

}
.storygallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
 padding-top: 32%;
    position: relative;
     background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-1.png');
    background-position: center;
    background-size: cover;  
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 35px;
    border-radius: 50%;
    top: 2px;
    left: 10px;
    border:5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 15px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-1.png');

}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-2.png');

}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-3.png');

}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-4.png');

}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url('../image/status-5.png');

}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 30px;
}
.writepost{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.userprofile{
    display: flex;
    align-items: center;
}
.userprofile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.userprofile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.userprofile small{
    font-size: 12px;
}
.postinputcontainer{
    padding-left: 55px;
    padding-top: 20px;
}
.postinputcontainer textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.addpostlink{
    display: flex;
    margin-top: 10px;
}
.addpostlink a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.addpostlink a img{
    width: 20px;
    margin-right: 10px;
}
.postcontainer{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.userprofile span{
    font-size: 13px;
    color: #9a9a9a;
}
.posttext{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.posttext span{
    color: #626262;
    font-weight: 500;
}
.posttext a{
    color: #1876f2;
    text-decoration: none;
}
.postimg{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.postrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activityicons div img{
    width: 18px;
    margin-right: 10px;

}
.activityicons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.postprofileicon{
    display: flex;
    align-items: center;
}
.postprofileicon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.postrow a{
    color: #9a9a9a;
}
.loadmorebutton{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;

}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
.settingsmenu{
    position: absolute;
    width: 70%;
    max-width: 310px;
    
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 98%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
    
}
.settingsmenu-height{
    max-height: 450px;
}
.userprofile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.seetingmenuinner{
    padding: 20px;
}
.settingsmenu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;

}
.seetinglinks{
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.settinglinks .settingicon{
    width: 39px;
    margin-right: 10px;
    border-radius: 50%;
    margin-left: 5px;
   
}
.settinglinks a{
    display: flex;
    display: inline-block;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
    margin-right: 3px;
    

}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background:#ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s; background: 00.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}s